* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: aquamarine; */
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(60%);
}

.tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
  font-weight: bolder;
  color: rgb(0, 0, 87);
  background-color: rgb(0, 0, 87);
}

.pri_selector,
.tool_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: aquamarine;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.pri_title {
  width: 5.5rem;
}

.priority {
  width: 5.5rem;
  height: 2.6rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.priority:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.active {
  border: 2px solid black;
}

.priority_title {
  text-align: center;
}

.pri_0 {
  background-color: rgb(80, 80, 80);
}

.pri_1 {
  background-color: red;
}

.pri_2 {
  background-color: yellow;
}

.pri_3 {
  background-color: rgb(0, 0, 87);
}

.pri_4 {
  background-color: green;
}

#add_task,
#delete_task,
#clear_selection {
  width: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

#add_task:hover,
#clear_selection:hover,
#delete_task:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.add_task_btn,
.delete_task_btn,
.edit_task {
  fill: red;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
}

.task_textarea {
  width: 100%;
  height: 13rem;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
}

.main {
  height: 92.1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.main h1 {
  color: rgb(0, 0, 87);
  display: none;
}

.input_task {
  background-color: skyblue;
  position: absolute;
  z-index: 10;
  display: none;
  border-radius: 0.5rem;
}

.input_content {
  width: 30rem;
  height: 20rem;
  border-bottom: 2px solid rgb(0, 0, 87);
}

.input_content > textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 1rem;
  color: rgb(0, 0, 87);
  font-size: 1.2rem;
  font-weight: bold;
  resize: none;
}

.input_priority {
  margin: 0;
  padding: 0rem;
  width: 30rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
}

.done {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aquamarine;
  background-color: rgb(0, 0, 87);
}

.task_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.task {
  margin: 1rem;
  width: 15rem;
  height: 18rem;
  background-color: rgb(255, 255, 170);
  position: relative;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.task_header {
  height: 1rem;
  background-color: yellow;
  border-radius: 0.5rem 0.5rem 0 0;
}

.task > svg {
  height: 1rem;
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  cursor: pointer;
}

.task > p {
  margin: 0.5rem;
  word-wrap: break-word;
}
