* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  font-weight: bolder;
  color: rgb(0, 0, 87);
  background-color: rgb(0, 0, 87);
}

.pri_selector, .tool_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: aquamarine;
  padding: 0 0.5rem;
}

.pri_title {
  width: 5.5rem;
}

.priority {
  width: 5.5rem;
  height: 2.6rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.priority:hover {
  border: 2px solid black;
}

#priority_title {
  text-align: center;
}

#pri_1 {
  background-color: red;
}

#pri_2 {
  background-color: yellow;
}

#pri_3 {
  background-color: rgb(0, 0, 87);
}

#pri_4 {
  background-color: green;
}

#add_task {
  width: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;cursor: pointer;
}

.add_task_btn,
.delete_task_btn {
  fill: red;
}

.add_task_btn, .delete_task_btn {
  fill: red;
}

#delete_task {
  width: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;cursor: pointer;
}

#clear_selection {
  width: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.main {
  height: 89.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main h1 {
  color: rgb(0, 0, 87);
}

.input_task {
  background-color: skyblue;
  display: none;
}

.input_content {
  width: 20rem;
  height: 10rem;
  border-bottom: 2px solid rgb(0, 0, 87);
}

.input_content>textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 1rem;
  color: rgb(0, 0, 87);
  font-weight: bold;
  resize: none;
}

.input_content>textarea::placeholder {
  content: "Rajesh";
  color: black;
}

.input_priority {
  margin: 0;
  padding: 0rem;
  width: 20rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
}

#done {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aquamarine;
  background-color: rgb(0, 0, 87);
}

.task {
  width: 12rem;
  height: 15rem;
  background-color: rgb(255, 255, 170);
  position: relative;
  display: none;
}

.task_header {
  height: 1rem;
  background-color: yellow;
}

.task > svg {
  height: 1rem;
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  cursor: pointer;
}

.task>p {
  margin: 0.5rem;
  overflow: hidden;
}